body {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2b2d42;
  font-weight: 700;
  margin: 0 0 10px;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
a {
  color: #2b2d42;
  font-weight: 500;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

a:hover,
a:focus {
  color: #d10024;
  text-decoration: none;
  outline: none;
}
button:hover,
button:focus {
  outline: none;
}
input:focus {
  outline: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
